@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}

.altura{
    height: calc(100vh - 100px);
    background-image: url("../../public/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.alturados{
    height: calc(100vh - 100px);
    background-image: url("../../public/fondo2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.alturatres{
    height: calc(100vh - 100px);
    background-image: url("../../public/fondo3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.oculto{
    visibility: hidden;
    opacity: 0;
    transform: translateX(-500px);
    transition: all;
    transition-duration: .5s;
}

.visible{
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);
    transition: all;
    transition-duration: .5s;
    box-shadow: 0 0 0 100vmax rgba(0,0,0, .5);
}

.bg-gradient-lemon{
    background: rgb(64,93,2);
    background: linear-gradient(180deg, rgba(64,93,2,1) 0%, rgba(98,150,6,1) 35%, rgba(204,241,127,1) 100%);
}

input[type=number]::-webkit-inner-spin-button {
   display: none;
}

@media (min-width:290px ) {
    .altura,
    .alturados,
    .alturatres
    {
        height: calc(100vh - 116px);
    }
    
  }

  @media (min-width:640px) {
    .altura,
    .alturados,
    .alturatres
    {
        height: calc(100vh - 132px);
    }
    
  }